*
{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}

.sidebar
{
    position: fixed;
    width: 20%;
    min-height: 100vh;
    background-color: white;
}

.logo_container
{
    position: relative;
    width: 100%;
}

.logo
{
    position: relative;
    width: 80%;
    left: 50%;
    padding: 3vh 0 0 0;
    transform: translateX(-50%);
}

.logo_titel
{
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 6vw;
    font-weight: lighter;
    text-align: center;
}

.menu
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-top: 20px;
}

.menu_knap
{
    position: relative;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 1.2vw;
    display: block;
    width: 50%;
    border: 2px #888888 solid;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    margin-bottom: 20px;
}

.menu_instagram
{
    position: absolute;
    left: 5%;
    bottom: 0;
    font-size: 4.5vw;
    color: black;
}

.menu_facebook
{
    position: absolute;
    right: 5%;
    bottom: 0;
    font-size: 4.5vw;
    color: black;
}

.menu_knap:link, .logo_container:link
{
    text-decoration: none;
    color: black;
}

.menu_knap:visited, .logo_container:visited
{
    color: black;
}

.menu_omos:hover, .highlight_omos
{
    border-color: black;
}

.menu_norrebro:hover, .highlight_norrebro
{
    border-color: #c6e1bf;
}

.some_norrebro
{
    color: #9d191b;
}

.menu_vesterbro:hover, .highlight_vesterbro
{
    border-color: #F5A892;
}

.some_vesterbro
{
    color: #c2bd11;
}

.menu_aarhus:hover, .highlight_aarhus
{
    border-color: #c72547;
}

.some_aarhus
{
    color: #2b8dac;
}

.menu_follow
{
    position: absolute;
    text-align: center;
    font-size: 1.5vw;
    bottom: 2vw;
    left: 50%;
    transform: translateX(-50%);
}

.content
{
    position: absolute;
    width: 80%;
    left: 20%;
    min-height: 100vh;
    background-color: #eeeeee;
}

/*******************************/
/* Forside */
/*******************************/

.index_upper
{
    position: relative;
    background-color: white;
    margin: 10px;
    width: calc(100% - 20px);
    height: calc(50vh - 20px);
    overflow: hidden;
}

.index_upper img
{
    width: 100%;
}

.index_lower
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    background-color: white;
    margin: 0 10px 10px 10px;
    width: calc(100% - 20px);
    min-height: calc(50vh - 10px);
}

.index_lower_decorUR
{
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    opacity: 0.5;
}

.index_lower_decorBL
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10%;
    transform: rotate(180deg);
    opacity: 0.5;
}

.index_lower_img
{
    width: 20%;
}

.index_lower_midbox
{
    position: relative;
    width: 40%;
    background-color: white;
}

.index_lower_midbox img
{
    position: absolute;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
}

.index_lower_midbox_text1
{
    position: absolute;
    width: 60%;
    left: 5%;
    top: 2%;
    z-index: 2;
}

.index_lower_midbox_text2
{
    position: absolute;
    width: 60%;
    right: 5%;
    bottom: 2%;
    text-align: right;
    z-index: 2;
}

/*******************************/
/* Aarhus */
/*******************************/

.aarhus_upper
{
    position: relative;
    background-color: white;
    margin: 10px;
    width: calc(100% - 20px);
    height: calc(50vh - 20px);
    overflow: hidden;
}

.aarhus_upper img
{
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
}

.aarhus_decorUR
{
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    opacity: 0.5;
}

.aarhus_decorBL
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10%;
    transform: rotate(180deg);
    opacity: 0.5;
}

.aarhus_lower
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    background-color: white;
    margin: 0 10px 10px 10px;
    width: calc(100% - 20px);
    min-height: calc(50vh - 10px);
}

.aarhus_lower_img
{
    width: 100%;
}

/*******************************/
/* Nørrebro */
/*******************************/

.norrebro_upper
{
    position: relative;
    background-color: white;
    margin: 10px;
    width: calc(100% - 20px);
    height: calc(50vh - 20px);
    overflow: hidden;
}

.norrebro_upper img
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
}

.norrebro_decorUR
{
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    opacity: 0.5;
}

.norrebro_decorBL
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10%;
    transform: rotate(180deg);
    opacity: 0.5;
}

.norrebro_lower
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    background-color: white;
    margin: 0 10px 10px 10px;
    width: calc(100% - 20px);
    min-height: calc(50vh - 10px);
}

.norrebro_lower_img
{
    width: 100%;
}

/*******************************/
/* Vesterbro */
/*******************************/

.vesterbro_upper
{
    position: relative;
    background-color: white;
    margin: 10px;
    width: calc(100% - 20px);
    height: calc(50vh - 20px);
    overflow: hidden;
}

.vesterbro_upper img
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
}

.vesterbro_decorUR
{
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    opacity: 0.5;
}

.vesterbro_decorBL
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10%;
    transform: rotate(180deg);
    opacity: 0.5;
}

.vesterbro_lower
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    background-color: white;
    margin: 0 10px 10px 10px;
    width: calc(100% - 20px);
    min-height: calc(50vh - 10px);
}

.vesterbro_lower_img
{
    width: 100%;
}